.speed__inner {
  display: flex;
  align-items: center;
  position: relative;
}

.speed__fig {
  position: absolute;
  top: 0;
  right: -230px;
}

.speed__img {
  position: relative;
  margin-right: 80px;
}

.speed__img-back {
  border-radius: 32px;
  display: block;
  max-width: 100%;
  height: auto;
}

.speed__frame {
  position: absolute;
  bottom: 48px;
  right: -48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 420px;
  background: $accent-color2;
  border-radius: 24px;
  padding: 24px;
}

.speed__frame-text {
  p:first-child {
    font-family: Fraunces, sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
  }

  p:last-child {
    font-size: 20px;
    line-height: 30px;
  }
}

.speed__frame-icon {
  img {
    border-radius: 16px;
  }
}

.speed__content {
  p:first-child {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 64px;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    background: $accent-color2;
  }

  h2 {
    font-family: Fraunces, sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    margin-top: 15px;
    margin-bottom: 27px;
  }

  p:nth-child(3) {
    color: #49616E; // не меняется
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 22px;
    max-width: 570px;
  }
}

.speed__btn-box {
  display: flex;
  align-items: center;
}

.speed__first-btn {
  display: inline-block;
  padding: 14px 26px;
  margin-right: 16px;
  font-size: 15px;
  line-height: 24px;
}

.speed__second-btn {
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 16px;
  padding: 16.5px 13px;
  border: 2px solid transparent;

  &:hover {
    border: 2px solid $accent-color1;
  }

  .speed__btn-icon {
    margin-left: 8px;
    height: 16px;
  }
}

.speed__btn-icon {}